# Python
___pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Local test files
hello.txt

Backup files
main_backup.py

# Environmet and secret files
.env
*.env

#VS Code setings
.vscode/s3_manager_backup.py
s3_manager_backup.py
S3_manager_backup.py
S3_manager_backup.py
s3_manager_backup.py
